.tab-list-container {
  margin-right: 40px;
  list-style-type: none;
}

.button {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #db1c48;
  color: #db1c48;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  height: 40px;
  width: 100px;
  padding: 10px;
}

.active {
  background-color: #db1c48;
  color: #fff;
}
